body {
  background: #f2f2f2;
  color: #434758;
  font-family: 'Source Sans Pro', sans-serif;
}
.dark {
  background: #434758;
}

header {
  background: #e76f51;
  height: 70px;
}
#inicio{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nombre-cont{
  display: flex;
  align-items: center;
}
.nombre-cont i{
  font-size: 48px;
  margin: 8px;
}
.nombre {
  margin: 0;
}
.nombre h1 {
  margin: 0;
  font-size: 32px;
}
.nombre h2 {
  margin: 0;
  font-size: 24px;
}
#dropdown{
  display: none;
}
.links a{
  background: #434758;
  color: #e76f51;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 3px;
  margin: 0 8px 0 0;
}
.links a:hover, .links a:active {
  color: #f2f2f2;
}
@media only screen and (max-width: 768px){
  .links{
    display: none;
    position: absolute;
    right: 0;
    top: 70px;
    width: 100%;
    background: #ccc;
  }
  .links-block{
    display: block;
  }
  .links a, .links button{
    display: block;
    margin: 8px;
  }
  #dropdown{
    display: block;
    border: none;
    border-radius: 3px;
    background: #434758;
    color: #e76f51;
    height: 32px;
    width: 32px;
    padding: 0;
    position: absolute;
    right: 16px;
    top: 18px;
  }
  #dropdown:active {
    color: #f2f2f2;
  }
}
@media only screen and (max-width: 425px){
  .nombre h1 {
    font-size: 24px;
  }
  .nombre h2 {
    font-size: 16px;
  }
}

/* MODO OSCURO */
.switch-cont {
  margin: 0;
  display: inline-block;
}
.switch {
  background: #434758;
  border: none;
  border-radius: 1000px;
  position: relative;
  cursor: pointer;
  outline: none;
  display: flex !important;
  margin: 8px auto !important;
}
.izq .switch::after {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  background: #f2f2f2;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}
.der .switch::after {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  background: #f2f2f2;
  top: 0;
  left: unset;
  right: 0;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}
.switch span {
  width: 25px;
  height: 30px;
  line-height: 30px;
  background: none;
}
.switch i {
  font-size: 16px;
  padding: 5px 0px;
  margin: 0;
}
.fa-sun {
  color: #e76f51;
}
.fa-moon {
  color: #f2f2f2;
}

@media only screen and (max-width: 768px){
.switch-cont {
  display: block;
}
}

.splash {
  margin: 20px;
  width: auto;
  height: 70vh;
  background: url(../images/fondo.png) center right fixed;
  background-size: cover;
}
@media only screen and (max-width: 600px) {
  .splash {
    background: url(../images/fondo2.png) center right fixed;
  }
}
@media only screen and (max-width: 400px) {
  .splash {
    background: url(../images/fondo3.png) center right fixed;
  }
}
/* @media only screen and (max-width: 1200px) {
  .splash{
      background: url(../images/fondo2.png) center center fixed;
  }
}
@media only screen and (max-width: 1000px) {
  .splash{
      background: url(../images/fondo4.png) center center fixed;
  }
} */

.call {
  margin-top: 20vh;
  letter-spacing: 5px;
  text-transform: uppercase;
  align-items: center;
  width: min-content;
}
.call h1 {
  font-size: 50px;
  font-weight: bold;
}
.call h2 {
  font-size: 20px;
}
@media only screen and (max-width: 800px) {
  .call{
    background-color: rgba(0, 0, 0, 0.6);
    color: #ccc;
    border-radius: 3px;
    padding: 10px;
  }
}
@media only screen and (max-width: 450px) {
  .call h1 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 420px) {
  .call h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 400px) {
  .call h1 {
    font-size: 22px;
  }
  .call h2 {
    font-size: 16px;
  }
}
/* 390x510  335x570 */
section .col-md-12 h1 {
  background: #ccc;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  padding: 30px 50px;
  margin: 20px 0px;
}

section .card {
  padding: 30px;
  text-align: justify;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
section .card:hover {
  transform: scale(1.1, 1.1);
}
section .card h3 {
  font-family: Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  margin: 0px;
  text-transform: uppercase;
}

.hab .card {
  align-items: center;
}
.hab i {
  font-size: 80px;
}

.info {
  font-size: 20px;
  text-align: justify;
}
.info-dark {
  color: #ccc;
}

.proyectos .card p {
  height: 90px;
  margin-bottom: 24px;
}
.proyectos .card h3 {
  height: 80px;
  display: flex;
  align-items: center;
}
.proyectos .card a {
  color: #e76f51;
}
@media only screen and (max-width: 992px) {
  .proyectos .card {
    height: 250px;
  }
  .proyectos .card p {
    height: auto;
    margin-bottom: auto;
  }
  .proyectos .card h3 {
    height: auto;
  }
}

footer {
  padding: 50px;
  padding-top: 30px;
  background: #e76f51;
  text-transform: uppercase;
  color: #434758;
  font-weight: bold;
  font-size: 18px;
}
footer .col-md-12 h1 {
  font-size: 30px;
  margin-bottom: 30px;
}
footer .col-sm-4 {
  text-align: center;
}
footer i {
  padding: 5px;
}
footer a {
  text-decoration: none;
  color: #434758;
}
footer a:hover {
  color: white;
}

.boton_volver {
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  text-align: right;
  margin-top: 50px;
}
.boton_volver .col-md-12 {
  padding: 20px 15px;
}
.boton_volver a {
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 3px;
}
.btn-volver {
  background: #434758;
  color: #f2f2f2;
}
.btn-volver-dark {
  background: #f2f2f2;
  color: #434758;
}
.boton_volver a:hover {
  color: #e76f51;
}

.space {
  margin-top: 180px;
}

.oculto {
  display: none;
}
